// @format
$card-width: 500px;
$background--darkMode: #303030;
$card-background--darkMode: rgba(84, 16, 110, 1);
$background--lightMode: rgb(230, 230, 230);
$icon-height: 32px;
$icon-width: 32px;
$btn--darkMode: rgb(66, 38, 66);
$text--darkMode: rgb(236, 188, 255);
$text--lightMode: rgba(255, 255, 255, 0.75);
$default-font-size: 1.25em;
@mixin boxShadow() {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}
@mixin margin-auto-middle() {
  margin: 0 auto;
}
input {
  border: none;
}
/** Profile Page **/
.profile-page {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
  max-width: 688px;
  font-weight: 400;
  color: white;

  &--username {
    font-size: 2em;
    font-weight: 400;
    margin: 10px 0;
  }

  &--email {
    color: rgb(21, 165, 255);
    font-size: 1em;
    font-weight: 500;
  }

  &--avatar {
    float: right;
    border-radius: 50%;
    height: 200px;
  }

  &--label {
    color: $white--75;
  }

  &--input {
    color: white;
    width: 60%;
    padding: 7px;
    background: $background--darkMode;
    border-radius: 3px;
    border: 1px solid $white--75;

    &:focus {
      border: 1px solid $white--25;
    }
  }

  .border-bottom {
    border-bottom: 1px solid $white--25;
  }
  /** End of Profile Page **/

  &--btn {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    color: white;
    background: purple;

    &:hover {
      cursor: pointer;
    }
  }
}

// Not sure what this is for ??
.answer-input {
  height: 100px;
  width: $card-width;

  &-wrapper {
    width: fit-content;
    margin: 1em auto;
  }
}

.dark-mode {
  min-height: 100vh;
  background-color: $background--darkMode;
  color: white;
}
.light-mode {
  min-height: 100vh;
  background-color: $background--lightMode;
}

.no-background-color {
  background-color: $text--lightMode;
}

@mixin flexAndAlign() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  color: white;
  background-color: rgba(80, 97, 250, 0.5);
  width: fit-content;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: 2em auto;
  @include flexAndAlign();
}

@keyframes slowAppear {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.message {
  animation: 5s ease-out 0s 1 slowAppear;
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  margin: 0 auto 10px auto;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px $white--25;
  font-weight: 400;
  border-radius: 3px;
  width: 600px;
  text-align: center;
  height: 60px;
  transition: all 1s ease-out;

  &-success {
    background-color: rgba(14, 165, 3, 0.75);
  }
  &-fail {
    background-color: rgba(249, 47, 47, 0.75);
  }
  &-heading {
    font-size: 1em;
    font-weight: 700;
    color: white--75;
    text-align: left;
    padding: 5px;
  }
  &-message {
    font-size: 1em;
    font-weight: 400;
    color: white--75;
    text-align: left;
    padding: 5px;
  }
}

.small-title {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
  padding: 5px;
  min-width: 300px;
  width: 50%;
  color: white;
  height: 200px;
  & > div {
    height: 100%;
  }
  & > div > input {
    padding: 5px;
    border: 0;
    border-bottom: 2px solid grey;
    background-color: inherit;
    width: 90%;
    //height: 50%;
    color: $white--75;
  }

  & > div > textarea {
    padding: 5px;
    border: 0;
    background-color: inherit;
    font-size: 16px;
    font-style: normal;
    resize: none;
    max-height: 60px;
    width: 90%;
    border-bottom: 2px solid grey;
    color: $white--75;
  }
}
.wrapper--question-list {
  margin: 0 auto;
  width: 800px;
  background-color: inherit;
  z-index: 100;
}
.question-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.tiny-title {
  font-weight: 500;
  font-size: 1.75em;
}

.tiny-text {
  font-style: oblique;
  font-weight: 400;
  line-height: 1.5em;
  width: 80%;
}

.link {
  display: inline;
  font-size: 1em;
  border: none;
  padding: 0;
  background: transparent;
  color: blue;

  &:hover {
    cursor: pointer;
  }
}

.login-form {
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  padding: 100px 100px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 16, 110, 0.75);
  height: 400px;
  width: 600px;
  @include margin-auto-middle();

  & > input {
    padding: 10px;
    height: 20%;
    background: white;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid rgba(black, 0.5);
    }
  }
  & > div > p {
    color: white;
    font-weight: 400;
    font-size: $default-font-size;
  }

  .btn {
    border: none;
    width: 100%;
    height: 48px;

    &:hover {
      background-color: rgb(102, 153, 1);
      color: white;
    }
  }
}

.margin-auto-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  /* max-width: fit-content; */
}

.cards--dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  &--dark {
    background-color: white;
    width: 150px;
    margin: 0 1em;
    @include boxShadow();
  }

  &--light {
    background-color: rgb(46, 46, 46);
    color: white;
    width: 150px;
    margin: 0 1em;
    @include boxShadow();
  }
}

.big-card {
  position: relative;
  width: 100%;
  max-width: $card-width;
  height: fit-content;
  @include margin-auto-middle();
}

.big-title {
  font-weight: 500;
  width: 80%;
  word-wrap: break-word;
  font-size: $default-font-size;
  color: inherit;
  background-color: inherit;
}

.current {
  background-color: white;
  width: 150px;
  margin: 0 1em;
  @include boxShadow();
}

.question--dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.5em;
  font-size: $default-font-size;
  color: $text--darkMode;
  background-color: $card-background--darkMode;
}

.placeholder--200px {
  background-color: inherit;
  height: 100px;
}

.answer--dark {
  min-height: 200px;
  width: 100%;
  word-wrap: break-word;
  padding: 0.5em;
  font-size: $default-font-size;
  line-height: 1.75em;
  font-weight: 400;
  color: rgb(220, 136, 253);
  background-color: $card-background--darkMode;
}

.question--light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  height: 100%;
  font-size: $default-font-size;
  color: $text--lightMode;
}

.answer--light {
  min-height: 200px;
  padding: 0.5em;
  height: 100%;
  font-size: $default-font-size;
  font-weight: 400;
  color: $text--lightMode;
}

.slide-wrapper {
  // width: fit-content;
  @include margin-auto-middle();
}

.slide {
  height: 30px;
  background-color: inherit;
}

.slide-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1em;
  color: white;
}

.tab {
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(235, 235, 235);
  height: 35px;
  padding: 0;
  border: 0;
}

.text {
  &--dark {
    font-size: $default-font-size;
  }
}

.clicked {
  background-color: rgb(182, 182, 182);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.wrapper {
  outline: none;
  min-width: $card-width;
  width: 100%;
  max-width: $card-width;
  @include margin-auto-middle();
}

.small-icon {
  height: $icon-height;
  width: $icon-width;
  margin-left: 5px;
}
