.control-panel {
  display: flex;
  max-width: 688px;
  margin: 0 auto;
  border-radius: 3px;
  color:rgb(209, 226, 255);
  background-color: rgb(0, 74, 193);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
