* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

a {
  text-decoration: none;
  // &:visited {
  //   // color: inherit;
  // }
}

.flex {
  display: flex;
}

.small-gutter-top-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.wrapper--left-float {
  float: left;
}

.tiny-gutter-right {
  margin-right: $tiny-gutter;
}

.small-gutter-right {
  margin-right: $small-gutter;
}

.max-width {
  width: 100%;
}

.margin-right-auto {
  margin-right: auto;
}

.sixteen-px {
  height: 16px;
  width: 16px;
}
