input {
  padding: 0;
  border: 0;
  background-color: rgb(201, 201, 201);
  color: black;
}

textarea {
  padding: 0.5em;
  border: 0;
  background-color: rgb(201, 201, 201);
  font-style: normal;
  color: black;
  resize: none;
  height: 150px;
  width: 90%;
}

:root {
  --card-width: 500px;
}

$card-width: 500px;

// Not sure what this is for ??
.answer-input {
  height: 100px;
  width: $card-width;

  &-wrapper {
    width: fit-content;
    margin: 1em auto;
  }
}

.dark-mode {
  min-height: 100vh;
  background-color: #303030;
}
.light-mode {
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

// buttons for dark mode

.btn--dark {
  background-color: rgb(66, 38, 66);
  color: rgb(236, 188, 255);
  padding: 0.5em;
  border: none;

  &--last {
    background-color: rgb(32, 62, 160);
    color: rgb(236, 188, 255);
    padding: 0.5em;
    border: none;

    &:hover {
      cursor: pointer;
    }

  }
  &--next {
    background-color: rgb(28, 55, 146);
    color: rgb(236, 188, 255);
    padding: 0.5em;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: rgb(88, 51, 88);
    cursor: pointer;
  }
}

// buttons for light mode

.btn--light {
  background-color: rgb(161, 161, 161);
  padding: 0.5em;
  color: black;
  border: none;

  &--last {
    background-color: rgb(161, 161, 161);
    padding: 0.5em;
    color: black;
    border: none;
  }

  &--next {
    background-color: rgb(161, 161, 161);
    padding: 0.5em;
    color: black;
    border: none;
  }

  &:hover {
    cursor: pointer;
  }
}

// Other button stylings

.btn {
  &--colorless {
    background-color: white;
    color: black;
    padding: 0.5em;
    border: none;
  }

  &--big {
    font-size: 1.25em;
    font-weight: 400;
    width: 50%;
  }

  // Place button on top right of a position relative element
  &--top-right {
    position: absolute;
    background-color: transparent;
    padding: 0;
    border: none;
    top: -15px;
    right: -15px;
  }

  // green button for Yes button in testing mode
  &--green {
    border: 0;
    height: 40px;
    width: 25%;
    font-size: 1em;
    font-weight: 400;
    color: rgb(170, 255, 170);
    background-color: rgba(28, 139, 28, 0.7);
  }
  // red button for No button in testing mode
  &--red {
    border: 0;
    height: 40px;
    width: 25%;
    font-size: 1em;
    font-weight: 400;
    color: rgb(255, 176, 176);
    background-color: rgba(255, 0, 0, 0.7);
  }

  &:hover {
    cursor: pointer;
  }
}

.testing {
  background-color: transparent;
  height: 32px;
  width: 32px;
}

.no-background-color {
  background-color: rgb(84, 16, 110);
}

// The button wrapper for the Next and Previous button under CurrentCard
.btns {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: $card-width;
  margin: 0 auto;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.cards {
  display: flex;
  color: white;
  background-color: rgba(80, 97, 250, 0.5);
  width: fit-content;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em auto;
}

.dimmer {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #000000;
  position: fixed;
  z-index: 100;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
  border-radius: 5px;
  width: 95%;
  text-align: center;
  color: white;
  background-color: #4bb543;
  height: 50px;

  &-message {
    font-size: 1em;
    font-weight: 400;
  }
}

.small-title {
  width: 500px;
  margin: 0.5em 0;
  color: white;
}

.tiny-title {
  font-weight: 500;
  margin-bottom: 0.5em;
  font-size: 1.75em;
}

.tiny-text {
  font-style: oblique;
  font-weight: 400;
  line-height: 1.5em;
  width: 80%;
  margin: 1em auto;
}

.margin-auto-center {
  margin: 0 auto;
  outline: none;
  /* max-width: fit-content; */
}

.cards--dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card {
  &--dark {
    background-color: white;
    width: 150px;
    margin: 0 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  }

  &--light {
    background-color: rgb(46, 46, 46);
    color: white;
    width: 150px;
    margin: 0 1em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  }
}

.big-card {
  position: relative;
  width: 100%;
  max-width: $card-width;
  height: fit-content;
  margin: 0 auto;
}

.big-title {
  font-weight: 500;
  font-size: 1.25em;
  color: inherit;
  background-color: inherit;
}

.current {
  background-color: white;
  width: 150px;
  margin: 0 1em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.question--dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.5em;
  font-size: 1.25em;
  color: rgb(236, 188, 255);
  background-color: rgb(84, 16, 110);
}

.placeholder--200px {
  background-color: inherit;
  height: 100px;
}

.answer--dark {
  min-height: 200px;
  width: 100%;
  padding: 0.5em;
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 400;
  color: rgb(220, 136, 253);
  background-color: rgba(84, 16, 110, 1);
}

.question--light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  height: 100%;
  font-size: 1.25em;
  color: rgb(84, 16, 110);
  background-color: rgb(236, 188, 255);
}

.answer--light {
  min-height: 200px;
  padding: 0.5em;
  height: 100%;
  font-size: 1.25em;
  font-weight: 400;
  color: rgb(84, 16, 110);
  background-color: rgb(236, 188, 255);
}

.slide-wrapper {
  width: fit-content;
  margin: 0 auto;
}

.slide {
  height: 30px;
  background-color: inherit;
}

.slide-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1em;
  color: white;
}

.tab {
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(235, 235, 235);
  height: 35px;
  padding: 0;
  border: 0;
}

.clicked {
  background-color: rgb(182, 182, 182);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.small-icon {
  height: 32px;
  width: 32px;
  margin-left: 5px;
}
