$card-width: 500px;
$background--darkMode: #303030;
$card-background--darkMode: rgba(84, 16, 110, 1);
$background--lightMode: rgb(230, 230, 230);
$icon-height: 32px;
$icon-width: 32px;
$btn--darkMode: rgb(66, 38, 66);
$text--darkMode: rgb(236, 188, 255);
$text--lightMode: rgba(255, 255, 255, 0.75);
$card-width: 500px;
$default-font-size: 1.25em;
@mixin boxShadow() {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}
@mixin margin-auto-middle() {
  margin: 0 auto;
}

input {
  padding: 0;
  border: 0;
  background-color: rgb(201, 201, 201);
  color: black;
}

textarea {
  padding: 0.5em;
  border: 0;
  background-color: rgb(201, 201, 201);
  font-style: normal;
  color: black;
  resize: none;
  height: 150px;
  width: 90%;
}

// Not sure what this is for ??
.answer-input {
  height: 100px;
  width: $card-width;

  &-wrapper {
    width: fit-content;
    margin: 1em auto;
  }
}

.dark-mode {
  min-height: 100vh;
  background-color: $background--darkMode;
}
.light-mode {
  min-height: 100vh;
  background-color: $background--lightMode;
}

.no-background-color {
  background-color: $text--lightMode;
}

@mixin flexAndAlign() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  color: white;
  background-color: rgba(80, 97, 250, 0.5);
  width: fit-content;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: 2em auto;
  @include flexAndAlign();
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 400;
  border-radius: 5px;
  width: 95%;
  text-align: center;
  color: rgb(1, 167, 15);
  background-color: rgb(164, 244, 66);
  height: 50px;

  &-message {
    font-size: 1em;
    font-weight: 400;
  }
}

.small-title {
  width: $card-width;
  margin: 0.5em 0;
  color: white;
}

.tiny-title {
  font-weight: 500;
  margin-bottom: 0.5em;
  font-size: 1.75em;
}

.tiny-text {
  font-style: oblique;
  font-weight: 400;
  line-height: 1.5em;
  width: 80%;
  margin: 1em auto;
}

.login-form {
  position: fixed;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  padding: 100px 100px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: rgba(84, 16, 110, 0.75);
  height: 400px;
  width: 600px;
  @include margin-auto-middle();

  & > input {
    padding: 10px;
    height: 20%;
    background: white;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid rgba(black, 0.5);
    }
  }

  & > button {
    border: none;
    height: 48px;

    &:hover {
      background-color: rgb(102, 153, 1);
      color: white;
    }
  }
}

.margin-auto-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  /* max-width: fit-content; */
}

.cards--dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  &--dark {
    background-color: white;
    width: 150px;
    margin: 0 1em;
    @include boxShadow();
  }

  &--light {
    background-color: rgb(46, 46, 46);
    color: white;
    width: 150px;
    margin: 0 1em;
    @include boxShadow();
  }
}

.big-card {
  position: relative;
  width: 100%;
  max-width: $card-width;
  height: fit-content;
  @include margin-auto-middle();
}

.big-title {
  font-weight: 500;
  font-size: $default-font-size;
  color: inherit;
  background-color: inherit;
}

.current {
  background-color: white;
  width: 150px;
  margin: 0 1em;
  @include boxShadow();
}

.question--dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0.5em;
  font-size: $default-font-size;
  color: $text--darkMode;
  background-color: $card-background--darkMode;
}

.placeholder--200px {
  background-color: inherit;
  height: 100px;
}

.answer--dark {
  min-height: 200px;
  width: 100%;
  padding: 0.5em;
  font-size: $default-font-size;
  line-height: 1.75em;
  font-weight: 400;
  color: rgb(220, 136, 253);
  background-color: $card-background--darkMode;
}

.question--light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  height: 100%;
  font-size: $default-font-size;
  color: $text--lightMode;
}

.answer--light {
  min-height: 200px;
  padding: 0.5em;
  height: 100%;
  font-size: $default-font-size;
  font-weight: 400;
  color: $text--lightMode;
}

.slide-wrapper {
  // width: fit-content;
  @include margin-auto-middle();
}

.slide {
  height: 30px;
  background-color: inherit;
}

.slide-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1em;
  color: white;
}

.tab {
  width: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(235, 235, 235);
  height: 35px;
  padding: 0;
  border: 0;
}

.text {
  &--dark {
    font-size: $default-font-size;
  }
}

.clicked {
  background-color: rgb(182, 182, 182);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.wrapper {
  min-width: $card-width;
  width: 100%;
  max-width: $card-width;
  @include margin-auto-middle();
}

.small-icon {
  height: $icon-height;
  width: $icon-width;
  margin-left: 5px;
}
