* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

input {
    padding: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
    text-align: center;
}

textarea {
    padding: 0;
    border: 0;
    background-color: inherit;
    color: inherit;
    resize: none;
    text-align: center;
    height: 150px;
    width: 90%;
}

:root {
    --card-width: 500px;
}

.dark-mode {
    min-height: 100vh;
    background-color: #303030;
}
.light-mode {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.btn--dark {
    background-color: rgb(66, 38, 66);
    color: rgb(236, 188, 255);
    padding: 0.5em;
    border: none;
}
.btn--colorless {
    background-color: white;
    color: black;
    padding: 0.5em;
    border: none;
}

.btn--light {
    background-color: rgb(161, 161, 161);
    padding: 0.5em;
    color: black;
    border: none;
}

.btn--long {
    width: 100%;
}

.btn--right {
    margin-right: 0;
}

.btn--big {
    font-size: 1.25em;
    font-weight: 400;
    width: 50%;
}

.btns {
    width: var(--card-width);
    margin: 0 auto;
}
.cards {
    display: flex;
    color: white;
    background-color: rgba(10, 117, 0, 0.5);
    width: fit-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em auto;
}

.small-title {
    width: 500px;
    margin:0.5em 0 ;
    color: rgb(95, 255, 80);
}

.tiny-title {
    font-weight: 700;
    font-size: 1.5em;
}

.tiny-text {
    font-style: oblique;
    font-weight: 400;
    /* max-width: 200px; */
    margin: 0 auto;
}

.cards--dark {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card--dark {
    background-color: white;
    width: 150px;
    margin: 0 1em;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}

.card--light {
    background-color: rgb(46, 46, 46);
    color: white;
    width: 150px;
    margin: 0 1em;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}

.big-card {
    width: var(--card-width);
    height: fit-content;
    margin: 0 auto;
}

.big-title {
    font-size: 1.5em;
}

.current {
    background-color: white;
    width: 150px;
    margin: 0 1em;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.15);
}

.question--dark {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0.5em;
    font-size: 1.5em;
    color: rgb(236, 188, 255);
    background-color: rgb(84, 16, 110);
}

.answer--dark {
    min-height: 200px;
    padding: 0.5em;
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(236, 188, 255);
    background-color: rgb(84, 16, 110);
}

.question--light {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    height: 100%;
    font-size: 1.5em;
    color: rgb(84, 16, 110);
    background-color: rgb(236, 188, 255);
}

.answer--light {
    min-height: 200px;
    padding: 0.5em;
    height: 100%;
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(84, 16, 110);
    background-color: rgb(236, 188, 255);
}